html, body {
    margin: 0;
}
#controls {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 15vw; 
    height: 100%; 
    background: #eee;
    padding: 10px;
}
#map-container {
    margin-left: 15vw; 
    margin-top: 0; 
    width: 85vw; 
    height: 99.6vh; 
    background: #000;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.active {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #eee;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000;
    width: 40%;
    height: 80%;
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}